/* 
font-family: 'Open Sans', sans-serif !important;
font-family: 'NanumSquare', sans-serif; 
*/
#ch{
    display: block;
    width:100%; overflow: hidden;
}
.ch_visual{
    display: block;
    width:100%; height: 600px;
    overflow: hidden;
}
.ch_title{
    display: block;
    width:57.29166666666667%; height: 600px;
    text-align: center;
    margin: 0 auto;
    transform: translateY(-90%);
}
.ch_title h2,.ch_title h3,.ch_title p{
    text-shadow: 5px 5px 6px rgba(0,0,0,0.2);
}
.ch_title h2>span{font-weight: normal;}
.ch_title h2{
    margin-top: 172px;
    font-family: 'Open Sans', sans-serif !important;
    font-size:4.0104vw;
    transition: all 1s;
    line-height: 39px;
    color:#fff;
    font-weight: 800;
}
.ch_title h3{
    font-size: 2.2396vw;
    transition: all 1s;
    line-height: 92px;
    color:#fff;
}

.ch_title p{
    font-size: 0.9375vw;
    transition: all 1s;
    line-height: 30px;
    color: #fff;
}
.ch_nav{position: relative; bottom:70px; background: rgba(0,0,0,0.5); width:100%;height: 70px;}
.ch_nav ul{display: flex; justify-content: center;}
.ch_nav ul li{ 
    display: block;
    width:18.85416666666667%;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-weight: 800;
}
.ch_nav ul li:nth-child(1){
    background:#1968B2 ;
}
.ch_nav ul li a{color:#fff; font-size: 20px; display: block; width: 100%;}

#ch_wrap{
    display: block;
    width:57.29166666666667%; height: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 160px;
}
.topbtn{position: fixed; right: 10%;top:90%;}
.ch_content{text-align: center;}
.ch_content h2{font-size:2.3438vw; transition: all 1s; font-weight: 800; line-height: 60px; color:#292929;}
.ch_content h2>img{
    width:30px;
    position:relative;
    bottom:30px;
    right:280px;
}
.ch_content h2::after{
    content: '';
    display: block;
    width:43.63636363636364%; height: 2px;
    margin: 34px auto;
    background: #D2D2D2;

}
.ch_content h4{font-size:28px; font-weight: 800; color:#144499; margin-top: 28px;}
.ch_content p{font-size: 1.0417vw; transition: all 1s; font-weight: bold; color:#292929; margin-top: 22px; margin-bottom: 90px; line-height: 35px;}
.ch_content{
    margin-top: 25px;
}


ul.tabs{
    display: flex;
    justify-content: center;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #3D3D3D;
	display:block;
    float: left;
	cursor: pointer;
    width:50%;
    height:70px; line-height: 70px;
    text-align: center;
    border:1px solid #D2D2D2;
    font-size: 0.9896vw;
    margin-bottom: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.tabs li::after{
    content: '';
    display: block;
    visibility: hidden;
    width:0; height: 0;
    clear: both;
}
ul.tabs li.current{
	background: #144499;
    border:1px solid #144499;
    font-weight: 800;
	color: #fff;
}

.tab-content{
	display: none;
}
.tab-content.current{
	display: inherit;
}

.tab-img{clear: both;}
.tab-img>img{width:100%;}
.tab-images>img{width:100%;}
.tab-box h2{text-align: center; margin-top: 115px; margin-bottom: 34px;}
.tab-step ul{
    display: flex; text-align: center;
    justify-content: space-around;
}
.tab-step ul li{display:block; height: 230px;}
.tab-step ul li div{
    display: block;
    width: 180px; height: 216px;
    border: 1px solid #A2A2A2;
    box-shadow: 3px 3px 0px rgba(138, 138, 138, 0.16);
    border-radius: 29px;
}
.tab-step ul li div img{margin-top: 31px;}
.tab-step ul li div span{
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    color:#fff;
    font-size: 13px;
    font-weight: 800;
    width:70px; height: 18px; line-height: 18px;
    background: #144499;
    border-radius: 20px;
}
.step-ma img{margin-top: 56px !important;}
.step-ma span{margin-top: 30px !important;}
.tab-step ul li div p{
    margin-top: 8px;
    font-size: 22px;
    font-weight: 800;
    color:#144499;
}
.steparr{position:relative; top:100px;}
.tab-step ul li span{display: block;}
.tap-bead{text-align: center;}
.tap-bead h2{margin-top: 124px; font-size: 1.5625vw; transition: all 1s; font-weight: 800; color:#144499;}
.tap-bead p{margin-top: 30px; font-size: 0.8854vw; transition: all 1s; color:#141414; line-height: 30px; }
.tab-Processing{margin-top: 53px;}
.tab-Processing ul{
    display: flex;
    justify-content:space-between;
}
.tab-Processing ul li div{
    text-align: center;
    display: block;
    overflow: hidden;
}
.tab-Processing ul li div p{
    font-size: 1.0417vw;
    font-weight: 800;
    width:100%;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    height: 54px; line-height: 54px;
    transform: translateY(-5px);
    overflow: hidden;
}
.tab-Processing ul li div img{
    width: 100%;
    transition: all 1s;
}
.tab-Processing ul li div img:hover{transform: scale(1.2); transition: all 1s;}
.tab-Processing-bg{
    width:100%; height: 260px;
    background: #EEEEEE;
    position: absolute;
    top:2530px;
    left: 0;
    z-index: -1;
}

.tab-images img:nth-child(1){
    margin-top: 179px;
    margin-bottom: 17px;
}
.tab-produce{
    text-align: center;
}
.tab-produce h2{
    margin-top: 173px;
    font-size: 30px;
    font-weight: 800;
    color:#141414;
}
.tab-step1{margin-top: 54px;}
.tab-step1 ul li div img{margin:0 auto;}
.tab-step1 ul li div{outline: 3px solid #D5EFFF;}
.tab-step1 ul{justify-content: space-around;}
.tab-supply{text-align: center; position: relative;}
.tab-supply h2{font-size: 1.5625vw; transition: all 1s; font-weight: 800; margin-top: 120px; color:#144499;}
.tab-supply p{margin-top: 30px; font-size: 0.8854vw; transition: all 1s;}
.tab-supply-con ul {float: left; width:45%;}
.tab-supply-con ul li{
    width:100%;
    height: 90px; line-height: 90px;
    background: #213367;
    color:#fff;
    font-size: 1.0417vw;
    font-weight: bold;
}
.tab-supply-con img{float: right; margin-top: 47px; width:50%; margin-bottom: 60px;}
.tab-supply-con ul li:nth-child(1){margin-top: 47px;}
.tab-supply-con ul li:nth-child(1),.tab-supply-con ul li:nth-child(2),.tab-supply-con ul li:nth-child(3){margin-bottom: 19px;}

.tab-table{   
    clear: both;
}
.tab-table tr,td,th{text-align: center;}
table{border-collapse: collapse;}
table th{background: #F1F1F1; border-right: 1px solid #C1C1C1;}
table th:last-child{border-right: 0px;}
thead{
    border-top: 2px solid #707070;
    border-bottom: 2px solid #144499;
}
table th{
    height: 52px;
    font-size: 17px;
    font-weight: bold;
    color: #141414;
}
table tr{
    border-bottom: 1px solid #C1C1C1;
}
table td{
    border-right: 1px solid #C1C1C1;
    font-size: 17px;
    color:#141414;
}
table td span{
    display: inline-block;
    width:25px; height: 25px; line-height: 25px;
    color:#fff;
    background: #144499;
    border-radius: 50%;
    font-size: 17px;
}
table td:last-child{border:0px}
table img{vertical-align: middle; margin: 5px auto;}

.tab-con{
    display: block;
    width:27%; height: 70px; line-height: 70px;
    margin: 0 auto;
    margin-top: 115px;
    
    background:#141414;
    text-align: center;
}
.tab-con a{
    color:#fff !important;
    font-size: 20px;
    font-weight: 800;
}


/**************************************************************
***************************************************************
***************************************************************
***************************************************************
**************************************************************/
.tab2-txt{text-align: center;}
.tab2-txt p{font-size: 17px; line-height: 35px;}
.tab2-title{
    text-align: center;
    height: 660px;
    border: 1px solid #707070;
    margin-top: 38px;
    margin-bottom: 51px;
}
.tab2-title>img{width: 98%;}
.tab2-title p{
    color:#fff;
    font-size: 25px;
    width: 86.2727%;
    font-weight: 900;
    height: 42px; line-height: 42px;
    background: #144499;
    border-radius: 23px;
    margin: 0 auto; margin-top: 18px; margin-bottom: 28px;
}
.tab2-step h2{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.tab2-step-system{margin-bottom: 41px;}
.tab2-step-system ul{display: flex; justify-content:space-around;}
.tab2-step-system ul li div{
    display: block; width:204px; text-align: center; height: 108px;
    border-radius: 19px;
}
.tab2-step-system ul li div span{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 25px;
    line-height: 47px;
    font-weight: 900;
    color:rgba(255,255,255,0.34);
}
.tab2-step-system ul li div p{
    font-size: 20px;
    font-weight: 900;
    color:#fff;
}
.tab2-step-system ul li:nth-child(1) div p{margin-top: 17px;}
.tab2-step-system ul li:nth-child(3) div p{margin-top: 17px;}
.tab2-step-system ul li:nth-child(5) div p{margin-top: 17px;}
.tab2-step-system ul li:nth-child(1) div{background-color: #2C5098;}
.tab2-step-system ul li:nth-child(3) div{background-color: #215097;}
.tab2-step-system ul li:nth-child(5) div{background-color: #174F90;}
.tab2-step-system ul li:nth-child(7) div{background-color: #1C6293;}
.tab2-step-system ul li:nth-child(9) div{background-color: #5097AC;}
.tab2-step-img img{position: relative; top:50%; transform: translateY(-50%);}

.tab2-system ul li{
    border-bottom: 1px solid #A2A2A2;
}
.tab2-system span{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 26px;
    font-weight: 900;
    line-height: 48px;
    color:rgba(6, 8, 125, 0.34);
    margin-right: 9px;
}
.tab2-system h2{
    font-size: 20px;
    font-weight: 900;
    color:#06087D;
    margin: 0px;
}
.tab2-system p{
    line-height: 48px;
    font-size: 17px;
    color:#141414;
}