/* 
font-family: 'Open Sans', sans-serif !important;
font-family: 'NanumSquare', sans-serif; 
*/
#it{
    display: block;
    width:100%; overflow: hidden;
}
.it_visual{
    display: block;
    width:100%; height: 600px;
    overflow: hidden;
}
.it_title{
    display: block;
    width:57.29166666666667%; height: 600px;
    text-align: center;
    margin: 0 auto;
    transform: translateY(-90%);
}
.it_title h2,.it_title h3,.it_title p{
    text-shadow: 5px 5px 6px rgba(0,0,0,0.2);
}
.it_title h2>span{font-weight: normal;}
.it_title h2{
    margin-top: 172px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 77px;
    line-height: 39px;
    color:#fff;
    font-weight: 800;
}
.it_title h3{
    font-size: 43px;
    line-height: 92px;
    color:#fff;
}

.it_title p{
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}
.it_nav{position: relative; width:100%;height: 55px; border-bottom:1px solid #CFCFCF;}
.it_nav ul{display: flex; justify-content: flex-start; width:57.29166666666667%; margin: 0 auto;}
.it_nav ul li{ 
  display: block;
  width: 10vw;
  text-align: center;
  line-height: 52px;
  font-weight: 800;
  text-align: center;
}
.it_nav ul li:nth-child(2){position: relative;top:0px; border-bottom:3px solid #154399;}
.it_nav ul li:hover>:nth-child(2){border-bottom: 3px solid #154399; transform: translateX(-100%);}
.it_nav ul li:nth-child(2) a{
  color:#154399;
}
.it_nav ul li a{color:#333; font-size: 1.0417vw; font-weight: 900;}
.it_nav ul li:nth-child(2){border-right: 1px solid #CFCFCF; border-left:1px solid #CFCFCF;}

#it_wrap{
    display: block;
    width:57.29166666666667%; height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.topbtn{position: fixed; right: 10%;top:90%;}
.it_content{text-align: center;}
.it_content h2{font-size:45px; font-weight: 800; line-height: 60px; color:#292929;}
.it_content h2>img{
    width:30px;
    position:relative;
    bottom:30px;
    right:160px;
}
.it_content h2::after{
    content: '';
    display: block;
    width:43.63636363636364%; height: 2px;
    margin: 34px auto;
    background: #D2D2D2;

}
.it_content h4{font-size:28px; font-weight: 800; color:#144499; margin-top: 28px;}
.it_content p{font-size: 20px; font-weight: bold; color:#292929; margin-top: 22px; margin-bottom: 76px;}
.it_content{
    margin-top: 25px;
}

.current>img{width:100%;}
.container{
    margin: 0 auto;
    text-align: center;
  }
  
  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    z-index: 1;
    
  }
  ul.tabs li{
    background: #F1F1F1;
    float: left;
    font-size: 20px;
    font-weight: 800;
    width:33%;
    height: 70px; line-height: 70px;
    color:#3D3D3D;
    cursor: pointer;
    margin-top: 143px;
    margin-bottom: 156px;
  }

   ul.tabs li.current{
    background: #144499;
    font-weight: 800;
	  color: #fff;
  }
  .tab-link2 {
    border-left:1px solid #C5C5C5;
    border-right:1px solid #C5C5C5;
  } 



  .sub_title{font-size: 35px; font-weight: 900; padding-bottom: 20px; text-align: center;}


  .tab-content{
    display: none;
  }
  
  .tab-content.current{
    display: inherit;
  }
  .tab1_title{text-align: center; position: relative;}
  .tab1_title img{width:100%;}
  .tab1_title h2{font-size: 50px; font-weight: 900; margin-bottom: 22px; width:100%;}
  .tab1_title p{font-size: 18px; margin-bottom: 56px; line-height: 27px;}
  .tab1_service{
    margin-top: 138px;
    text-align: left;
    margin-bottom: 95px;
  }

  .tab1_service ul{
      display: flex;
      flex-wrap: wrap;
  }



  .tab1_s_name{font-size: 30px;  color:#144499;  font-weight: 900; width: 18.1818%;padding-left:42px;}
  .tab2_s_name{font-size: 30px;  color:#144499;  font-weight: 900; width: 30%; padding-left:42px;}
  .tab3_s_name{font-size: 30px;  color:#144499;  font-weight: 900; width: 20%; padding-left:42px;}
  .tab3_explanation{padding-left: 100px; float: right; width: 60%;}

  .tab1_explanation{    width:73%;  }
  .tab2_explanation{    width:59%;  }


  
  .tab1_explanation, .tab2_explanation, .tab3_explanation p{
      font-size: 18px;
      color:#555555;
      line-height: 25px;
      vertical-align: middle;
  }


  .tab1_con1{
      border-top:2px solid #2D2D2D ; 
      padding: 35px 0px 0px 0px;
  }
  .tab1_expect_con2::after,.tab1_expect_con::after,.tab1_con4::after,.tab1_con3::after,.tab1_con2::after, .tab1_con1::after{
    content: '';
    display: block;
    width:95%; height: 1px;
    margin: 0 auto;
    margin-top: 40px;
    border-bottom: 1px solid #C5C5C5;
  }
  .tab1_con2, .tab1_con3, .tab1_con4{
    padding: 35px 0px 0px 0px;
  }


  em{font-style: normal;}
  .tab1_chrct{text-align: left;}
  .tab1_chrct div{border-top:2px solid #2D2D2D;}
  .tab1_chrct div img{width:100%;}
  .tab1_expect{text-align: left; margin-bottom: 100px;}
  .tab1_expect_con,.tab1_expect_con2{display: flex; flex-wrap: wrap;}
  .tab1_expect_con{
    padding: 20px 0px ;
      border-top: 2px solid #2D2D2D;
      
    }

    .tab1_expect_con2{
        padding: 20px 0px;
          
        }

  .tab1_expect_name{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 50px;
    font-weight: 900;
    color:#DFDFDF;
    width: 22.1818%;
  }
  
  .tab1_expect_box{
      width:77%;
  }
  .tab1_explanation em{font-size: 18px; font-weight: 900; color:#144499; line-height: 35px;}
  .tab1_explanation p{color:#555555; font-size: 18px;}
  .tab-con{
    display: block;
    width:27%; height: 70px; line-height: 70px;
    margin: 0 auto;
    margin-bottom: 115px;
    background:#141414;
    text-align: center;
}
.tab-con a{
    color:#fff !important;
    font-size: 20px;
    font-weight: 800;
}
.poi{width:30px !important; position: absolute; top:35%; left: 50%; transform: translateX(-50%);}
.poi1{width:30px !important; position: absolute;  top:33%; left: 50%; transform: translateX(-50%);}
.poi2{width:30px !important; position: absolute;  top:32%; left: 50%; transform: translateX(-50%);}
@media screen and (min-width:320px) and (max-width:768px){

  .it_nav ul{width:100%}
  ul.tabs{
    display: flex;
  }
  .tab1_title h2{font-size: 7.8125vw;}
  .tab1_title p{
    font-size: 3.7500vw;
    line-height: 23px;
  }
  .tab1_s_name{
    width:100%;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 4.6875vw;
  }
  .tab1_con1,.tab1_con2, .tab1_con3, .tab1_con4{padding: 0;}
  .tab1_expect_con2::after,
  .tab1_expect_con::after,
  .tab1_con4::after,
  .tab1_con3::after,
  .tab1_con2::after,
  .tab1_con1::after{
    width:100%;
    margin-top: 19px;
  }
  .tab1_explanation{width:100%;}
  .tab1_exp{width:80%;}
  .tab1_explanation p{font-size: 3.7500vw;}
  ul.tabs li:nth-child(2){line-height: 30px !important;}

  .tab1_service{margin-top: 57px; margin-bottom: 58px;}
  .sub_title{font-size:5.6250vw}

  .tab1_expect_name{
    width:auto;
    text-align: left;
    font-size: 7.5000vw;
    padding-right: 30px;
    padding-top:8px;
    position: relative;
    top:-7px
  }
  .tab1_chrct div img{ margin-top: 12px; margin-bottom: 55px;}
  .tab3_explanation,.tab1_expect_con2{padding: 0;}
  .tab-con{width:57%;}
  .poi{width:16px !important; position: absolute; top:-25px; left: 50%;}
  .poi1{width:16px !important; position: absolute; top:-25px; left: 50%;}
  .poi2{width:16px !important; position: absolute; top:-25px; left: 50%;}



  .tab3_s_name,.tab2_s_name{
    width:100%;
    padding: 0;
    font-size: 4.6875vw;
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .tab3_explanation,.tab2_explanation{width:100%;}

  .tab1_explanation em{line-height: 25px;}

  .it_nav ul li:nth-child(3),.it_nav ul li:nth-child(2){width:85%; height: 57px;}
}