@charset "utf-8";
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* .section:first-child{height: 262px !important; overflow: hidden;}
.section:first-child>.fp-tableCell{
    height: 262px !important;
    overflow: hidden;
} */
body {font-family: 'NanumSquare', sans-serif;}
#sec_scroll{
    display: block;
    width:100%; height: 100%;
    position: absolute;
    top:0; z-index: 1;
    background-color: rgba(0, 0, 0,0);
}
.scroll_bar{
    display: block;
    width:1px; height: 168px;
    background: rgba(255, 255, 255, 0.7);
    position:absolute;
    bottom:0;
    left: 3.5%;
    z-index: 2;
}
.scroll_name{
    display: block;
    position:absolute;
    bottom:22%;
    left: 1.35%;
    z-index: 1;
    letter-spacing: 1.5px;
    color:#fff;
    font-size: 10px;
    font-family: 'NanumSquare', sans-serif;
    transform: rotate(270deg);
}
/**************** sec2 ****************************/
 .slide-area li img{
    width:100%;
    height: 1080px;
    display: block;
    position: relative;
    transform: scale(1.2);
    /* animation: bg_ani;
    animation-duration: 7.5s;
    animation-iteration-count: infinite; */
}

.sec2_bg{
    display: block;
    overflow: hidden;
    width:100%; height: 100%;
    position: absolute;
    top:0;
}
.sec2_bg>img,.sec3_bg>img,.sec4_bg>img,.sec5_bg>img{
    display: block;
    width:100%;
    height: 100%;
}
/* @keyframes bg_ani{
    0%{transform: scale(1.2);}
    100%{transform: scale(1);}
}  */
.sec2_bg_bg{
    display: block;
    position: absolute;
    top:0;
    width:100%; height: 100%;
    background: rgba(0,0,0,0.6);
}
.sec2_box{
    display: block;
    width:944px; height: 194px;
    position:absolute;
    top:40%; left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.sec2_box h2{
    font-family: 'Open Sans', sans-serif !important;
    width:100%; height: 100%;
    font-size: 4.1667vw;
    line-height: 85px;
    color:#fff;
    letter-spacing: -2px;
}
.sec2_box p{
    color:#fff;
    font-size: 1.1458vw;
    font-family: 'NanumSquare', sans-serif;
    line-height: 40px;
    margin-top: 34px;
}
.sec2_box img{
    margin-top: 42px;
}
/*****************   sec3       *******************************/
.sec4_it_bg,.sec3_ch_bg{
    display: block;
    width:100%;
    height: 100%;
    background: #F1F1F1;
}
.sec3_ch_img>div>a>h2{
    position: absolute;
    bottom: 10%;
    right: 11%;
    color:#fff;
    font-size: 3.1250vw;
    line-height: 73px;
    font-weight: 900;
}
.sec3_ch_img div{
    display: flex;
    justify-content: right;
    position: relative;
    height: 44vh;
    bottom:-124px
}
.sec3_ch_img div:nth-child(1){
    left:50px;
    opacity: 0;
    transition: all 1s;
}
.sec3_ch_img div:nth-child(2){
    left:70px;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
}
.sec3_ch_img>div>a{
    width:42%;
    overflow: hidden;
}
.sec3_ch_img>div>a:hover> img{
    transform: scale(1.2);
    transition: all 1s;
}
.sec3_ch_img>div>a>img{
    transition: all 1s;
    width:100%;
    height: 100%;
}
.sec3_ch_title{
    position: absolute;
    top:30%;
    left: 20%;
}
.sec3_ch_title>h2{
    font-size: 4.1667vw;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 75px;
    color:#1968B2;
    font-weight: 900;
    margin-bottom: 40px;
    position: relative;
    top:-30px;
    opacity: 0;
    transition: all 1s;
}
.sec3_ch_title>em{
    font-size: 1.8229vw;
    font-weight: 900;
    color:#141414;
    position: relative;
    top:-30px;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
}
.sec3_ch_title>p{
    margin-top: 23px;
    font-size: 0.9375vw;
    line-height: 31px;
    color:#4D4D4D;
    position: relative;
    top:-30px;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
}
.sec3_ch_title>img{
    position: absolute;
    bottom: 55%;
    left: 20%;
    width: 30.20833333333333vw;
    /* animation: roimg;
    animation-duration:5s;
    animation-timing-function: linear; 일정속도로 가게함
    animation-iteration-count:infinite; */
}
/* @keyframes roimg{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
} */



.on,.off{color:#fff !important;}
.gallery{
    position:absolute;
    width: 50%;
    margin: 20px auto;
    overflow: hidden;
    padding-left:0; 
    top:50%; right: -180px;
    transform: translateY(-35%);
}
.gallery ul{width:300%; position: relative; left: 0px;}
.gallery ul li {float: left; width: 20%; box-sizing: border-box; padding: 15px; text-align: center; line-height: 150px;}

.itslide{
    position:absolute;
    width: 50%;
    margin: 20px auto;
    overflow: hidden;
    padding-left:0; 
    top:50%; right: -10%;
    transform: translateY(-35%);
}
.itslide ul{width:300%; position: relative; left: 0px;}
.itslide ul li {float: left; width: 20%; box-sizing: border-box; padding: 15px; text-align: center; line-height: 150px;}


.sec3_bg{
    display: block;
    width:100%; height: 100%;
    z-index: -1;
    position: absolute;
    top:0;
    overflow: hidden;

}
.sec3_bg_bg{
    display: block;
    width:100%; height: 100%;
    background: rgba(0,0,0,0.6);
}
.sec3_box{
    display: block;
    width:741px; height: 550px;
    position: absolute;
    top:25%;
    left:15%;
}
.sec3_box span{
    font-size: 1.1458vw;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800;
    color:#fff;
}
.sec3_box h2{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 4.1667vw;
    letter-spacing: -3px;
    color:#00D2F3;
    font-weight: 800;
}
.sec3_box h2>span{
    color:#00D2F3;
    letter-spacing: 0px;
    margin-left: 20px;
}
.sec3_box a{
    color:#fff;
    font-size: 1.3021vw;
    font-weight: 800;
}
.sec3_txt{
    font-size: 1.5625vw;
    color:#fff;
}
.sec3_txt2{
    font-size: 1.1458vw;
    color:#fff;
    margin-top: 9%;
    margin-bottom: 12%;
}
/*******************        sec4        ******
sec 동일
*************************/
.sec4_bg{
    display: block;
    width:100%; height: 100%;
    position: absolute;
    top:0;
    z-index: -1;
    overflow: hidden;
}
.slide2_nav li:nth-child(2){
    border-right:1px solid rgba(255,255,255,0.3);
}
.sec4_it_title{
    position: absolute;
    left: 50%; top:33%;
}
.sec4_it_title>img{
    position: absolute;
    top:-70%;left: 45%;
    width:30.20833333333333vw;
}
.sec4_it_title h2{
    color:#1968B2;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 4.1667vw;
    line-height: 75px;
    margin-bottom: 40px;
    position: relative;
    top:-30px;
    opacity: 0;
    transition: all 1s;
}
.sec4_it_title em{
    font-size: 1.8229vw;
    font-weight: 900;
    position: relative;
    top:-30px;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
}
.sec4_it_title p{
    font-size: 0.9375vw;
    margin-top: 23px;
    line-height: 31px;
    position: relative;
    top:-30px;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
}
.sec4_it_img div{
    position: relative;
    width:40%;
    bottom:-124px;
    overflow: hidden;
    height: 29.5vh;
}
.sec4_it_img div:nth-child(1){
    left:-50px;
    opacity: 0;
    transition: all 1s;
}
.sec4_it_img div:nth-child(2){
    left:-70px;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
}
.sec4_it_img div:nth-child(3){
    left:-70px;
    opacity: 0;
    transition: all 1s;
    transition-delay: 1.4s;
}
.sec4_it_img>div>a:hover img{
    transform: scale(1.2);
    transition: all 1s;
}
.sec4_it_img>div>a>img{transition: all 1s; width:100%; height: 100%;}
.sec4_it_img>div>a>h2{
    position: absolute;
    bottom:10%;
    left: 50%;
    color:#fff;
    font-size: 3.1250vw;
    text-align: right;
    width:45%;
    font-weight: 900;
}

/*********************      sec5        ***********************************/
.bg5img{
    background-image: url(../images/ben-white-gEKMstKfZ6w-unsplash.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.sec5_nav{width:100%; height: 500px; display: flex; margin-left: 100px; transform: translateY(25%);}
.sec5_nav li{float: left;}
.sec5_nav li:nth-child(1){
    color:#fff;  
    height: 500px;
    width: 340px;
    margin-left: 10%;
    margin-right: 10%;
}
.sec5_nav li:nth-child(1) h2{letter-spacing: -3.6px; line-height: 89px; font: italic normal bold 4.6875vw/89px Open Sans; font-family: 'Open Sans', sans-serif !important;}
.sec5_nav li:nth-child(1) p{margin-top: 44px; font: normal normal normal 1.2500vw/38px NanumSquare; line-height: 38px;}
.sec5_nav li:nth-child(3){margin: 0px 20px 0px 20px;}
.sec5_nav li div{position: relative; display: block; -webkit-transform: translateX(-50%);}
.sec5_nav li div img{width:100%;}
.sec5_nav li div a{
    position: absolute;
    z-index: 1;
    font: normal normal 800 1.5625vw NanumSquare;
    top:80%; left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    text-align: center;
    color:#fff;
    width:100%;
}
.sec5_nav li div a p{font: normal normal normal 15px NanumSquare;}
.sec5_nav li div::after{
    content: '';
    background: rgba(0,0,0,0.5);
    width:96%; height: 96%;
    position:absolute;
    left: 2px;
    top:2px;
    opacity: 0;
    transition: all 0.5s;
}
.sec5_nav li div:hover::after{
    left: 2px;
    top:2px;
    opacity: 1;
    transition: all 0.5s;
}
.sec5_nav li div:hover> a{
    top:50%;
    transition: all 0.5s;
}
/***********       footer         ********************************/
.section:last-child{height: 490px !important;}
.section:last-child>.fp-tableCell{
    height: 490px !important;
}
#foot_nav{
    display: block;
    position: absolute;
    top:0;
    width:100%; height: 190px;
    background: #0A0A0A;
}
#foot_nav>ul{margin-left: 190px; margin-top: 40px;}
#foot_nav ul li{
    float: left;
    width:200px;
}
#foot_nav>ul>li>a{color:#fff; font-size: 18px; font-weight: 800; line-height: 45px;}
#foot_nav>ul>li>ul>li>a{color:#fff; font-size: 16px;}
.ft_box{
    display: block;
    width:100%; height: 300px;
    background: #141414;
    position:absolute;
    bottom:0;
    font-size: 16px;
}
.ft_box ul{
    margin-left:10%;
    width:100%; height: 25px;
}
.ft_box ul li{
    float: left;
    margin-right:40px;
    color:#BCBCBC;
}
.ft_box ul li>span{
    font-weight: 800;
    margin-right:10px;
}
.ft_inner li a{
    color:#BCBCBC;
    font-weight: 800;
}
.ft_inner li{width:140px; margin-top: 60px; margin-bottom: 30px;}
.ft_inner li:nth-child(1) {
    border-right:1px solid #707070;
    margin-right: 25px;
}
.ft_box h4{
    clear: both;
    margin-left: 10%;
    color:#BCBCBC;
    font-weight: 800;
}
.ft_box p{color:#4A4A4A; margin-left: 10%;}
.foot img{width:85px; position: relative; top:10%; z-index: 1; left: 10%; filter: brightness(0) invert(1);}


.ft_privacy_bg,.ft_email_bg{
    display: none;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    z-index: 4;
}
.ft_privacy,.ft_email{
    display: block;
    width:1100px; height: 870px;
    margin: 0 auto;
    transform: translateY(5%);
    background-color: #fff;
    overflow: auto;
}
.ft_privacy h3,.ft_email h3{
    color:#144499;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-weight: 900;
}
.ft_privacy p,.ft_email p{
    margin-left: 50px;
    font-size: 17px;
    line-height: 25px;
}
.ft_privacy_title, .ft_email_title{
    height: 137px;
    background: #144499;
}
.ft_privacy_title img,.ft_email_title img{
    position: absolute;
    cursor: pointer;
    top:6%;
    right: 50px;
}
.ft_privacy_title h2,.ft_email_title h2{
    color:#fff;
    position: relative;
    font-size: 40px;
    font-weight: 900;
    line-height: 137px;
    margin-left: 50px;
}

.show>img{
    display: block;
    width:100%;
    height: 1080px;
    animation: bg_ani;
    animation-duration: 8s;
    animation-iteration-count:initial; /* 한번만 */
    /* animation-iteration-count:infinite; 무한반복 */
}
.show>.mobileIMG>img{
    animation: bg_ani;
    animation-duration: 8s;
    animation-iteration-count:initial; /* 한번만 */
}

@keyframes bg_ani{
    100%{transform: scale(1);}
} 
.mobileIMG{display: none;}
.moblie_slider{display: none;}
.mo_slide2{display: none;}
.mo_inner{display: none;}
.mobile{display: none;}
.mobile_toggle{display: none;}
.mobile_in{display: none !important;}
            /* 769 ~ 1200 까지 보여주는 화면 설정 */
@media screen and (min-width:769px) and (max-width:1200px) {
    .slide-box h1{
     line-height: 1.2;
 }
 /* #menu{display: none;}
 #lang{display: none;} */
 .sec5_nav li:nth-child(1) h2{line-height: 50px;}
 .jd-slider .prev{top:67.7%; left:32%; z-index: 1;}
 .jd-slider .next{top:67.7%; left:33.5%; z-index: 1;}
 .controller{position: absolute; bottom:30vw; transform: translateX(-15.5%);}
}
            /* 320 ~ 768 까지 보여주는 화면 설정 */
@media screen and (min-width:320px) and (max-width:768px) {
    .mobile_out{display: none;}
    .sec3_box a,#menu,#lang,#page_nav,.prev,.next,.slide-area li>img{display: none;}
    .sec4_it_title>img,.sec3_ch_title>img,.sec5_nav{display: none;}
    .sec4_it_title p,.sec3_ch_title>p{font-size: 4.0625vw; line-height: 20px;}
    .mobile_none{display: none !important;}
    .mobile_toggle{display: block;}
    .mobile_in{
        display: block !important;
        border:0px !important;
        width:100% !important;
    }
    .mobile_in ul{position: relative; top:50%; transform: translateY(-50%); }
    .mobile_in ul li a{font-size: 9.3750vw; font-weight: 900;}
    #foot_nav{display: none;}
    .sec4_img,.sec3_img,.sec2_img{display: none !important;}
    .sec3_bg_bg,.sec2_bg_bg{display: none;}    
    .mo_slide1{display: none;}
    .ft_inner,.slide2_it,.slide1_wrap{display: none;}
    .bg5img{
        background: url(../mobileIMG/320/section5_back1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .slide-box{
        top:30%;
        left: 50%;
        transform: translateX(-50%);
    }
    .slide-box h1{
        line-height: 50px;
        font-size: 9.3750vw;
        text-align:center;
        width:385px !important;
        margin-bottom: 40px;
    }
    .sec2_box{top:30%;}
    .slide-box p{
        width:350px;
        font-size: 4.0625vw;
        text-align: center;
    }
    .sec2_box h2{
        line-height:35px ;
        font-size: 8vw;
        height: 70%;
    }
    .sec2_box p{
        transform: translateX(85%);
        width:350px;
        line-height: 22px;
        margin-top: 0px;
        font-size: 4.0625vw !important;
    }
    #logo>h1>a>img{width:50px; margin-left: 16px;}
    input[id="menuicon"] + label{top:30px; right: 16px;}
    .sec3_box{
        top:10%;
        left: 0;
        height: 0px;
        width:100%;
        text-align: center;
    }
    .itslide{
        width:100%;
        top:60%; right: -5%;
    }
    .itslide ul li{
        width:30%;
    }
    .mobile_txt{
        text-align: center;
    }
    .mobile_txt h2{
        font-family: 'Open Sans', sans-serif !important;
        font-size: 9.3750vw;
        color:#fff;
        font-weight: 900;
        font-style: italic;
    }
    .mobile_txt p{
        font-size: 4.0625vw;
        color:#fff;
    }
    .mobile ul{
        display: flex; width:90%;
        flex-wrap: wrap;
        margin: 38px auto;
        justify-content: space-between;
    }
    .mobile ul li:nth-child(1){
        background:url(../mobileIMG/320/mobile_map1.png) no-repeat center/cover;
        width: 48%;
        height: 111px;
        margin: 0px 10px 10px 0px;
    }
    .mobile ul li:nth-child(2){
        background:url(../mobileIMG/320/mobile_map2.png) no-repeat center/cover;
        width: 48%;
        margin: 0px 0px 10px 0px;
    }
    .mobile ul li:nth-child(3){
        background:url(../mobileIMG/320/mobile_map3.png) no-repeat center/cover;
        width:100%;
        margin: 0px 0px 10px 0px;
    }
    .mobile ul li{
        display: block;
        line-height: 111px;
    }
    .mobile ul li a{
        display: block;
        text-align: center;
        font-size: 7.5000vw;
        font-weight: 900;
        color:#fff;
    }
    .ft_box{
        top:0; height: auto;
        text-align: center;
    }
    .ft_box>h4{display: none;}
    .ft_box>p{clear: both; padding-top: 16px; margin-left: 0px;}
    .ft_addr{
        display: block;
        margin: 16px auto;
        margin-left: 0px !important;
    }
    .ft_box>img{
        width:52px;
        position: unset;
        margin-top: 22px;
        margin-bottom: 18px;
    }
    .mo_inner{margin-left: 0px !important; display: flex; justify-content: center;}
    .mo_inner li{
        display: block;
        text-align:center;
        margin-right: 0px !important;
    }
    .mobile{display: block;}
    .section:last-child{height: 250px !important;}
    .section:last-child>.fp-tableCell{
        height: 250px !important;
    }
    .ft_addr>li>span{font-weight: 400 !important; color:#707070 !important;}
    .ft_addr>li{
        font-size: 3.4375vw;
        color:#707070 !important;
        width:100%;
        text-align: center;
    }
    .ft_addr>p{font-size: 3.4375vw;}
    .mo_item{position:absolute; bottom:5%;left: 50%; transform: translateX(-50%);}
    .mo_item>ul>li{padding: 10px;}
    .mo_inner li>a{color:#fff; font-weight: 900; font-size: 3.4375vw; border-right: 2px solid #fff; padding: 0px 10px;}
    .mo_inner li:nth-child(4)>a{border-right: 0px; padding: 0px; padding-left: 10px;}
    .mo_slide2{display: block;}
    .mo_slide2>li>img{width:100%;}
    .moblie_slider{display: block;}
    .moblie_slider>li>img{width:100%;}
    .sec3_txt2{width:90%;}
    .sec3_txt2,.sec3_txt,.sec3_box span{font-size: 4.0625vw}
    .sec3_box h2{font-size: 8.7500vw;}
    .sec3_box h2>span{display: none;}
    .gallery{width:100%; top:60%; right: -5%;}
    .gallery ul li{width:30%; line-height: 0px;}
    .slide1_nav{top:90%; right: 7%;}
    .slide2_nav{right: 23%;}
    .slide1_nav li{font-size: 2.8125vw;}
    .slide-bg{height: 119% !important; top:-60px !important;}
    .jd-slider{height: auto !important;}
    .mobileIMG{display: block;}
    .mobileIMG>img{width:100% !important; height: 100vh !important;}
    .controller{transform: none; bottom:20vh;}
    #menuwrap{height: 0px !important;}
    .sec4_it_title,.sec3_ch_title{
        display: block;
        width:90%;
        text-align: left;
        top:20%;
        left: 50%;
        transform: translateX(-50%);
    }
    .sec4_it_title h2,.sec3_ch_title>h2{
        font-size: 8.7500vw; line-height: 30px; margin-bottom: 20px;
    }
    .sec4_it_title>em,.sec3_ch_title>em{font-size: 7.5000vw;}
    .sec3_ch_title>p{margin-top: 0px;}
    .sec3_mo_img{
        position: absolute;
        bottom:0;
        width:90% !important;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 30px;
    }
    .sec3_mo_img>div{position: relative; padding: 10px 0px; height: 16vh;}
    .sec3_mo_img>div>a>img{display: flex; width:100%; height: 100%;}
    .sec3_mo_img>div>a>h2{
        position: absolute;
        top:50%; left: 10%;
        transform: translateY(-50%);
        color:#fff;
        font-size: 7.5000vw;
        line-height: 35px;
        font-weight: 900;
    }
    .sec4_mo_img{position: absolute;bottom:0; width:90% !important; left: 50%; transform: translateX(-50%);}
    .sec4_mo_img>div{position: relative; padding: 10px 0px;}
    .sec4_mo_img>div>a>img{display: flex; width:100%; height: 12vh;}
    .sec4_mo_img>div>a>h2{
        position: absolute;
        top:50%; right: 10%;
        transform: translateY(-50%);
        color:#fff;
        font-size:7.5000vw;
        font-weight: 900;
        
    }
}