/* 
font-family: 'Open Sans', sans-serif !important;
font-family: 'NanumSquare', sans-serif; 
*/
#map{
    display: block;
    width:100%; overflow: hidden;
}
.map_visual{
    display: block;
    width:100%; height: 600px;
    overflow: hidden;
}
.map_title{
    display: block;
    width:57.29166666666667%; height: 600px;
    text-align: center;
    margin: 0 auto;
    transform: translateY(-90%);
}
.map_title h2,.map_title h3,.map_title p{
    text-shadow: 5px 5px 6px rgba(0,0,0,0.2);
}
.map_title h2>span{font-weight: normal;}
.map_title h2{
    margin-top: 172px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 77px;
    line-height: 39px;
    color:#fff;
    font-weight: 800;
}
.map_title h3{
    font-size: 43px;
    line-height: 92px;
    color:#fff;
}

.map_title p{
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}
.map_nav{position: relative; bottom:70px; background: rgba(0,0,0,0.5); width:100%;height: 70px;}
.map_nav ul{display: flex; justify-content: center;}
.map_nav ul li{ 
    display: block;
    width:28.64583333333333%;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-weight: 800;
}
.map_nav ul li:nth-child(2){
    background:#1968B2 ;
}
.map_nav ul li a{color:#fff; font-size: 20px; display: block; width:100%;}

#map_wrap{
    display: block;
    width:57.29166666666667%; height: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 160px;
}
.topbtn{position: fixed; right: 10%;top:90%;}
.map_content{text-align: center; margin-top: 55px;}
.map_content h2{font-size:45px; font-weight: 800; line-height: 60px; color:#292929;}
.map_content h2>img{
    width:30px;
    position:relative;
    bottom:30px;
    right:265px;
}
.map_content h2::after{
    content: '';
    display: block;
    width:43.63636363636364%; height: 2px;
    margin: 34px auto;
    background: #D2D2D2;

}
.map_content h4{font-size:28px; font-weight: 800; color:#144499; margin-top: 28px;}
.map_content p{font-size: 20px; font-weight: bold; color:#292929; margin-top: 22px; margin-bottom: 76px;}

.map_road_nav{display: flex;}
.map_road_nav li{ line-height: 43px; font-size: 17px;}
.map_road_nav li:nth-child(1){font-weight: 800; width:115px;}
.map_road_nav:nth-child(1){
    margin-top: 36px;
    border-top: 2px solid #144499;
}
.map_road_nav:nth-child(2){
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}
.map_road_nav:nth-child(3){
    border-bottom: 1px solid #A2A2A2;
    height: 80px;
}
.map_road_nav:nth-child(3)>li{
    line-height: 38px;
}
.map_road_nav span{
    display: inline-block;
    background: #144499;
    border-radius: 5px;
    color:#fff;
    width:52px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}