/* 
font-family: 'Open Sans', sans-serif !important;
font-family: 'NanumSquare', sans-serif; 
*/
#ch{
    display: block;
    width:100%; overflow: hidden;
}
.pro_visual{
    display: block;
    width:100%; height: 600px;
    overflow: hidden;
}
.pro_title{
    display: block;
    width:57.29166666666667%; height: 600px;
    text-align: center;
    margin: 0 auto;
    transform: translateY(-90%);
}
.pro_title h2,.pro_title h3,.pro_title p{
    text-shadow: 5px 5px 6px rgba(0,0,0,0.2);
}
.pro_title h2>span{font-weight: normal;}
.pro_title h2{
    margin-top: 172px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 77px;
    line-height: 39px;
    color:#fff;
    font-weight: 900;
}
.pro_title h3{
    font-size: 2.2396vw;
    transition: all 1s;
    line-height: 92px;
    color:#fff;
}

.pro_title p{
    font-size: 0.9375vw;
    transition: all 1s;
    line-height: 30px;
    color: #fff;
}
.pro_nav{position: relative; z-index: 1; width:100%;height: 55px; border-bottom:1px solid #CFCFCF;}
.pro_nav ul{display: flex; justify-content: flex-start; width:57.29166666666667%; margin: 0 auto;}
.pro_nav ul li{ 
    display: block;
    width: 10vw;
    text-align: center;
    line-height: 55px;
    font-weight: 800;
    text-align: center;
}
.pro_nav ul li:nth-child(3){position: relative;top:-3px; border-bottom:3px solid #154399;}
.pro_nav ul li:nth-child(3) a{color:#154399;}

.pro_nav ul li a{color:#333; font-size: 1.0417vw; font-weight: 900;}
.pro_nav ul li:nth-child(2){height: 55px; border-right: 1px solid #CFCFCF; border-left:1px solid #CFCFCF;}
#pro_wrap{
    display: block;
    width:57.29166666666667%; height: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 160px;
}
.topbtn{position: fixed; right: 10%;top:90%;}
.pro_content{text-align: center;}
.pro_content h2{font-size:45px; font-weight: 800; line-height: 60px; color:#292929; margin-bottom:90px;}
.pro_content h2>img{
    width:30px;
    position:relative;
    bottom:30px;
    right:180px;
}
.pro_content h4{font-size:28px; font-weight: 800; color:#144499; margin-top: 28px;}
.pro_content p{font-size: 20px; font-weight: bold; color:#292929; margin-top: 22px; margin-bottom: 76px;}
.pro_content{
    margin-top: 25px;
}