@charset "utf-8";
@import url(./gnb.css);
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');


*{margin: 0; padding: 0;}
ul,li,ol{list-style: none;}
a{text-decoration: none !important;}
a:link,a:hover,a:visited,a:active{color:#363636;}

ul,li,ol,h2,h3,h4,h5,h6,p,span,i{font-family: 'NanumSquare', sans-serif !important;} /* font */ 
#page_nav{
    position:absolute;
    top:42%;
    left: 65px;
    z-index: 1;
}
#page_nav ul li{
    font-family: 'NanumSquare', sans-serif;
    font-size: 15px;
    color:#fff;
    font-weight: 800;
    margin: 24px 0px;
}
#page_nav ul li img{
    margin: 0px 18px 3px 0px;
}
#header{ height: 124px; position:absolute; top:0; width:100%; z-index: 3;}

#logo>h1>a>img{
    width:125px;
    position:absolute;
    margin-left:65px;
    top:20px;
    z-index: 2;
}
nav{text-align: center;}
#menu{display:flex; justify-content: end; margin-right: 256px;}
#menu>li>a{color:#fff; font-weight: 800; text-decoration: none;}
#menu>li{
    width:150px;
    float: left;
    font-size: 20px;
    text-align: center;
    height:124px;
    line-height: 124px;
    position:relative;
}
#menu>li>a::after{
    content: '';
    height:3px; width:0%;
    transition: all .3s;
    -webkit-transform: scaleX(1) translateX(-50%);
}
#menu>li:hover>a:after{
    content:'';
    display: block;
    height:3px; width:100%;
    position:absolute;
    background:#144499;
    left:50%; bottom:0;
    transform: scaleX(1) translateX(-50%);
}
#menu>li:hover>a{color:#144499 !important;}
.submenu{
    display: none;
    font-size: 15px;
    line-height: 2;
    width:100%; height: 132px;
}

.submenu li{margin-top: 10px;}
.submenu li a{font-family: 'NanumSquare', sans-serif; position: relative; z-index:1;}
.submenu li:hover a{color:#144499 !important;}
.submenu li a::after{
    content: '';
    display: none;
    width:40%; height: 1px;
    background: #144499;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.submenu li a:hover::after{
    content: '';
    display: block;
}
.under{
    width: 100%;
    height: 1px;
    background:#D2D2D2;
    position: absolute;
    top:124px;
    opacity: 0;
}
#lang{
    position: absolute;
    right: 163px;
    top:35%;
}
#lang>a>img{width:25px; position: relative; top:5px; margin-right: 5px;}
#lang>a{font-size: 22px; font-weight: bold;}
.langmenu>li>a{font-size: 13px; color:#fff; font-weight: bold; line-height: 18px;}
.langmenu>li>a:hover{color:#D80000;}
.langmenu>li{text-align: center;}
.langmenu{display: none; border:1px solid rgba(255, 255, 255, 0.5); border-radius: 10px 10px 10px 10px; width:47px; height: 47px;}
.arr{
    width:10px !important;
    height: 10px;
    margin-bottom:7px;
    position: relative;
    right: 5px;
}

input[id="menuicon"] {display:none; position: absolute; right: 100px; top:45px; width:26px;height:30px;}
input[id="menuicon"] + label {display:block;position: absolute; right: 110px; top:45px; width:26px;height:25px; cursor:pointer;}
input[id="menuicon"] + label span {display:block;position:absolute;width:26px;height:5px;background:#fff;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) { }
input[id="menuicon"] + label span:nth-child(2) {top:50%; transform:translateY(-50%);}
input[id="menuicon"] + label span:nth-child(3) {bottom:0; }
input[id="menuicon"]:checked + label {z-index:99;}
input[id="menuicon"]:checked + label span {background:#363636 !important;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:45%;transform:translateY(-50%) rotate(45deg); z-index: 99;}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:55%; transform:translateY(50%) rotate(-45deg); z-index: 99;}

div[class="sidebar"] {width:100%;height:100%;background:#fff;position:fixed;top:0;right:-100%;z-index:9;transition:all .35s;}
input[id="menuicon"]:checked + label + div {right:0px;}

.sidebar>div{
    font-family: 'NanumSquare', sans-serif !important;
    display: block;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    width:24.8%;
    height: 100%;
    float: left;
    border-right: 1px solid #D2D2D2;
}
#sidebox{
    position:absolute;
    transform:translateX(-50%);
    top:300px;
}
.sidebar>div:last-child{border-right:none}
.slidetitle{font-size: 36px; font-weight:bold; margin-bottom: 20px;}
#sidebox{display: inline-block; width:100%;}
#sidebox>li{text-align: center; height: 50px;}
#sidebox>li:hover>a{color: #fff; font-weight: 800;}
#sidebox>li>a{text-align: left !important; height: 50px; line-height: 50px; font-size: 27px;}
#sidebox>li>a::after{
    content: '';
    display: block;
    transform:translateY(-100%);
    transition: all 0.7s;
    width:0%; height: 50px;
}
#sidebox>li:hover>a:after{
    content:'';
    display: block;
    height: 50px; width:100%;
    position:relative;
    background:#144499;
    transition: all 0.7s;
    z-index: -1;
    left:0%;
}
.side_cu:after{
    content:'';
    position:relative;
    transform:translateY(-200%);
    background:#144499;
    transition: all 0.7s;
    z-index: -1;
    display: block;
    transition: all 0.7s;
    width:0%; height: 50px;
}
.side_cu:hover:after{
    content: '';
    display: block;
    width:103%;
    transition: all 0.7s;
}



#foot_nav{
    display: block;
    width:100%; height: 190px;
    background: #0A0A0A;
}
#foot_nav>ul{
    position: relative;
    left: 10%;
    top:40px;
}
#foot_nav ul li{
    float: left;
    width:200px;
    line-height: 25px;
}
#foot_nav>ul>li>a{color:#fff; font-size: 18px; font-weight: 800; line-height: 45px;}
#foot_nav>ul>li>ul>li>a{color:#fff; font-size: 16px;}
.ft_box{
    display: block;
    width:100%; height: 300px;
    background: #141414;
    font-size: 16px;
}
.ft_box ul{
    margin-top: 35px;
    margin-left:10%;
    width:100%; height: 25px;
}
.ft_box ul li{
    float: left;
    margin-right:40px;
    color:#BCBCBC;
}
.ft_box ul li>span{
    font-weight: 800;
    margin-right:10px;
}
.ft_inner li a{
    color:#BCBCBC;
    font-weight: 800;
}
.ft_inner li{width:140px;}
.ft_inner li:nth-child(1) {
    border-right:1px solid #707070;
    margin-right: 25px;
}
.ft_box h4{
    color:#BCBCBC;
    font-weight: 800;
    position: relative;
    top:30px;
    margin-left: 10%;
}
.ft_box p{color:#4A4A4A; margin-left: 10%;}
.foot img{width:85px; margin-top: 27px; margin-left: 10%; filter: brightness(0) invert(1);}

.mobile_toggle{display: none;}      /* 모바일 화면으로 가면 사라짐 */
@media screen and (min-width:320px) and (max-width:768px){
    /* mobile page search
        page name : *** mobile page 
        ex) it mobile page
    */

    /* subpage 공통사용 */
    .mo_img{width:100%; height: 100%;}
    .mobile_none{display: none;}
    .mobile_toggle{display: block;}
    .map_title,.us_title,.it_title,.ch_title,.ci_title,.intro_title{transform: translateY(-50%);}
    .map_title p,.us_title p,.it_title p,.ch_title p,.ci_title p,.intro_title p,#langwrap,#menu{display: none;}
    .map_title h2,.us_title h2,.it_title h2,.ch_title h2,.ci_title h2,.intro_title h2{font-size: 8.7500vw; margin-top: 150px;}
    .map_title h3,.us_title h3,.it_title h3,.ch_title h3,.ci_title h3,.intro_title h3{font-size: 5vw; line-height: 30px;}
    .map_visual,.us_visual,.it_visual,.ch_visual,.ci_visual,.intro_visual{height: 225px;}
    .map_nav,.us_nav,.it_nav,.ch_nav,.ci_nav,.intro_nav{height: 35px; bottom:35px;}
    .map_nav ul li,.us_nav ul li,.ci_nav ul li,.intro_nav ul li{width:50%; height: 35px; line-height: 35px;}
    .map_nav ul li a.us_nav ul li a.ch_nav ul li a,.ci_nav ul li a,.intro_nav ul li a{font-size:4.0625vw;}

    .it_nav ul li,.ch_nav ul li{width:100%; line-height: 35px; height: 35px;}

    #map_wrap,#ci_wrap{margin-bottom: 30px;}
    #map_wrap,#ch_wrap,.map_title,.us_title,.it_title,.ch_title,#ci_wrap,#intro_wrap{width:100%;}
    #us_wrap,#it_wrap{width:90%;}
    .map_content h2,.us_content h2,.it_content h2,.ch_content h2,.ci_content h2,.intro_content h2{font-size: 6.2500vw; margin-top: 0px;}
    .map_content h2::after,.us_content h2::after,.it_content h2::after,.ch_content h2::after,.ci_content h2::after,.intro_content h2::after{margin: 0px auto; width:80%;}
    .map_content h2>img,.us_content h2>img,.it_content h2>img,.ch_content h2>img{right: 170px; bottom:13px;}
    .us_content h2>img,.it_content h2>img,.ci_content h2>img,.intro_content h2>img{bottom:10px; right: 115px;}
    .ci_content h4{font-size: 4.0625vw;}
    .map_content p,.us_content p,.ch_content p,.ci_content p,.intro_content p{font-size: 4.0625vw; margin-top: 12px; margin-bottom: 24px;}
    .ch_content p{line-height: 25px;}
    /* subpage 공통사용 */


    /* intro mobile page */
    #logo>h1>a>img{width:52px; margin-left: 16px;}
    input[id="menuicon"] + label{top:31px; right: 16px;}
    .intro_cont{border-radius: 0px; width:100%; transform:translateX(0%); transform:translateY(50%) }
    .intro_cont img{width:100%; right: -7px; bottom:560px;}
    .intro_mo_txt{text-align: center;}
    .intro_mo_txt h2{font-size: 6.8750vw; padding-top: 160px; padding-bottom: 24px; font-weight: 900; color:#0A38C9;}
    .intro_mo_txt p{font-size: 4.0625vw; line-height: 22px;}
    .intro_cnt{width:100%;} /* PC 화면 1100px 제거 */
    .cnt_title{width:90%; height: 26px; border:2px solid #0A38C9; margin-top: 260px; }
    .cnt_title h2{font-size: 4.0625vw; line-height: 26px;}
    .cnt_arr>span::after{width:30px; transform: rotate(45deg) translate(13px,5px);}
    .cnt_arr>span::before{width:30px; transform: rotate(135deg) translateX(20px);}
    .cnt_with{flex-wrap: wrap;}
    .cnt_with_box{width:45%; margin: 10px;}
    .cnt_core{height: 100px;}
    .cnt_core_title{width:100%;}
    .cnt_core_title_text{bottom:90px; right: 90px; } 
    .cnt_core_title_text h2{font-size: 7.5000vw; line-height: 30px;}
    .cnt_core_title_text span{font-size: 5.9375vw;}
    .cnt_value{width:40%;}
    .mo_vlaue{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .mo_vlaue div{margin: 0 auto; width:100%; margin-top: 30px; position: relative;}
    .mo_vlaue div h2{
        width:200px; height: 200px; line-height: 200px;
        margin: 0 auto;
        background: #0EA5BC;
        border-radius: 50%;
        color:#fff;
        font-size: 7.5000vw;
        font-weight: 900;
    }
    .mo_vlaue div p{font-size: 4.0625vw; margin-top: 15px;}
    .mo_vlaue div:nth-child(2) h2{background: #700EBC; line-height: 180px;}
    .mo_vlaue div:nth-child(2) h2::after{content: "R&D"; position: absolute; right: 42%; top:15%;}
    .mo_vlaue div:nth-child(3) h2{background: #0055B5;}
    .mo_vlaue div:nth-child(3){margin-bottom: 57px;}
    /* intro mobile page */

    /* ci mobile page */
    .ci_content p{line-height: 25px; font-weight: normal;}
    .ci_content img{width:90%;}
    .ci_system h2{font-size: 6.2500vw;}
    .ci_system img{width:90%}
    /* ci mobile page */


    /* business mobile page */
    #bu_wrap{width:100%; margin-bottom: 39px;}
    .bu_visual{width:100%; height: 225px;}
    .bu_visual img{height: 100%;}
    .bu_title{width:100%; height: 100%;}
    .bu_title h2{font-size: 8.7500vw; margin-top: 70px;}
    .bu_title h3{font-size: 5.0000vw; line-height: 30px;}
    .bu_content h4{font-size:6.2500vw; width:300px; margin: 0 auto;}    
    .bu_content p{font-size: 4.0625vw; line-height:25px; width:92%; margin: 18px auto;}
    .bu_link_box{bottom:-50px;}
    .bu_link_box h2{font-size: 4.3750vw;}
    .bu_link_box p{font-size: 1.2500vw; line-height: 10px;}
    #bu_link>img{margin-bottom: 0px;}
    .bu_link_bg{width:100%; top:-12%;}
    .bu_link_bg>ul>li{width:40%; padding: 5px;}
    .bu_link_bu a{width:90%; height: 25px; line-height: 25px; margin-top: 90px; font-size: 3.4375vw; color:#7FFF00 !important; background: rgba(0, 0, 0, 0.4);}
    .bu_link_bg>ul>li:hover .bu_link_box{bottom:100px;}
    /* business mobile page */

    /* chemistry mobile page*/
    #ch_wrap{margin: 0px;}
    .mobile_imgout{display: none;}
    .moilbe_img_out{display: none;}
    ul.tabs li{
        width:45%;
        height: 40px; line-height: 40px;
        font-size: 4.3750vw;
        margin-bottom: 24px;
    }
    .tab-box h2{margin-top: 30px;}
    .tab-step{width:90%; margin: 0 auto;}
    .tab-step ul{flex-wrap: wrap; justify-content: center;}
    .tab-step ul li{height: 140px; margin-bottom: 16px;}
    .tab-step ul li div{width:110px; height: 100%;}
    .tab-step ul li div img{margin-top: 20px !important; margin: 0 auto;}
    .steparr{top:60px;}
    .steparr>img{width:5px; padding: 5px;}
    .tab-step ul li div span{font-size: 2.8125vw;}
    .tab-step ul li div p{font-size: 3.4375vw;}
    .tab-img{width:90%; margin: 0 auto;}
    .tap-bead{width:90%; margin: 0 auto;}
    .tap-bead h2{margin-top: 40px; font-size: 4.6875vw;}
    .tap-bead p{font-size: 4.0625vw;}
    .tab-Processing{width:90%; margin: 0 auto; margin-top: 30px;}
    .tab-Processing ul li div{width:110px; margin: 0 auto; background: #fff; box-shadow:0px 3px 6px rgb(0 0 0 / 16%)}
    .tab-Processing ul li div p{font-size: 4.0625vw; box-shadow: none; background: none; width:100px; padding: 20px 5px; height: 30px; line-height: 25px;}
    .tab-Processing ul li:nth-child(1) div p{margin-top: 10px; height: 20px;}
    .tab-Processing ul li:nth-child(3) div p{margin-top: 0px; padding: 0px; height: 70px; padding-left: 5px;}

    .tab-images{width:100%; text-align: center;}
    .tab-images img:nth-child(1){margin-top: 30px;}
    .tab-images img{width:90%;}


    .tab-produce h2{margin-top: 47px; margin-bottom: 22px; font-size: 4.6875vw; }
    .tab-step1 ul li div{height: 85%; position: relative;}
    .tab-step1 ul li div p{margin-top: 10px !important;}

    .tab-step1 ul li:nth-child(1) div::after{display: block;content: "1";color:#fff;background: #64ABD7;width:20px; height: 20px; line-height: 20px;border-radius: 50%;position: absolute;font-size:3.7500vw ;font-weight: 900;top:0;}
    .tab-step1 ul li:nth-child(3) div::after{display: block;content: "2";color:#fff;background: #64ABD7;width:20px; height: 20px; line-height: 20px;border-radius: 50%;position: absolute;font-size:3.7500vw ;font-weight: 900;top:0;}
    .tab-step1 ul li:nth-child(5) div::after{display: block;content: "3";color:#fff;background: #64ABD7;width:20px; height: 20px; line-height: 20px;border-radius: 50%;position: absolute;font-size:3.7500vw ;font-weight: 900;top:0;}
    .tab-step1 ul li:nth-child(7) div::after{display: block;content: "4";color:#fff;background: #64ABD7;width:20px; height: 20px; line-height: 20px;border-radius: 50%;position: absolute;font-size:3.7500vw ;font-weight: 900;top:0;}
    .tab-step1 ul li:nth-child(9) div::after{display: block;content: "5";color:#fff;background: #64ABD7;width:20px; height: 20px; line-height: 20px;border-radius: 50%;position: absolute;font-size:3.7500vw ;font-weight: 900;top:0;}
    
    .tab-supply{width:90%; margin: 0 auto;}
    .tab-supply h2{margin-top: 0px; font-size: 4.6875vw; width:267px; margin: 0 auto;}
    .tab-supply p{font-size: 4.0625vw; width:350px;}

    .tab-supply-con img{width:100%; float: left; margin-bottom: 0px;}
    .tab-supply-con ul{width:100%; margin-bottom: 46px;}
    .tab-supply-con ul li{height: 40px; line-height: 40px; font-size: 4.0625vw;}
    .tab-supply-con ul li:nth-child(1){margin-top: 16px;}

    .tab-table{width:90%; margin: 0 auto;}

    .tab-con{width:100%; margin: 30px 0px;}
    .tab-con a{font-size: 6.2500vw;}




    /* tab-2 chemistry mobile page */
    .tab2-title{border:1px solid #CFCFCF; width:90%; height: auto; margin: 0 auto; margin-top: 38px; margin-bottom: 26px;}
    .tab2-txt p{font-size: 4.0625vw; line-height: 25px;}
    .tab2-title p{font-size: 3.1250vw; line-height: 20px; height: 20px;}
    .tab2-title>img{width:277px; margin: 0 auto; padding-bottom: 10px;}
    .tab2-step{width:90%; margin: 0 auto;}
    .tab2-step-system ul{flex-wrap: wrap; width:100%; justify-content: flex-start; margin: 0 auto;}
    .tab2-step-system ul li div p{font-size:3.4375vw;}
    .tab2-step-system ul li div{width:113px; height: 60px; border-radius: 30px; }
    .tab2-step-system ul li div span{font-size: 3.4375vw; line-height: 0px;}
    .tab2-step-img img{padding: 25px 5px;}


    .tab2-step-system ul li:nth-child(1) div p{margin: 0px;}
    .tab2-step-system ul li:nth-child(3) div span{line-height: 30px;}
    .tab2-step-system ul li:nth-child(3) div p{margin: 0px;}
    .tab2-step-system ul li:nth-child(5) div p{margin: 0px;}
    .tab2-step-system ul li:nth-child(5) div span{line-height: 30px;}


    .tab2-system{width:100%; margin: 0 auto;}
    .tab2-system p{font-size: 4.0625vw; line-height: 25px;}
    /* chemistry mobile page*/

    /* it mobile page */
    ul.tabs{display: flex;}
    ul.tabs li.current{height: 40px; line-height: 40px;}
    ul.tabs li{height: 38px;}
    .sub_title{font-size: 4.0625vw;}
    .tab1_title h2{font-size: 6.2500vw;}
    .tab1_title p{font-size: 4.0625vw;}
    .tab3_s_name,.tab2_s_name,.tab1_s_name{padding: 10px 0px; font-size: 4.6875vw; }
    
    .tab1_con4,.tab1_con3,.tab1_con2,.tab1_con1{padding: 10px;}
    .tab1_service{margin-top: 32px; margin-bottom: 20px;}
    .tab1_service ul{flex-direction:column;}
    .tab1_service ul li{width:100%;}

    .tab1_expect_name{font-size: 7.5000vw; text-align: left;}
    .tab1_explanation em{font-size: 4.6875vw;}
    .tab3_explanation p,.tab2_explanation p,.tab1_explanation p{font-size: 4.0625vw;}
    .tab1_expect_con2,.tab1_expect_con{padding: 10px;}
    .tab3_explanation{padding: 0px;}
    /* it mobile page */

    /* contactus mobile page */
    .us_content p{width:90%; margin: 15px auto;}
    .pit_1{width:99%;}
    .pit_1 select{width:85%;}
    .mail_pit p{font-size: 4.0625vw;}
    input::placeholder{font-size: 3.0625vw; width:90%;}
    .mail_pit:nth-child(2) p{
        padding-top: 10px;
        line-height: 20px;
    }
    .user, .email, .id, .phone{padding-left: 10px; width:85%;}
    input[type="button"]{width:100%;}
    /* contactus mobile page */
 


    /* map mobile page */
    #daumRoughmapContainer1634199116082{
        width:90% !important;
        margin: 0 auto;
    }
    #map_road{width:90%; margin: 0 auto;}
    /* map mobile page */

    /* mobile Footer */
    .ft_box ul{margin-top: 0px; padding: 10px 0px;}
    .ft_box{top:0; height: auto; text-align: center;}
    .ft_box>h4{display: none;}
    .ft_box>p{clear: both; padding: 16px; margin-left: 0px;}
    .ft_addr{
        display: block;
        margin: 16px auto;
        margin-left: 0px !important;
    }
    .ft_box>img{
        width:52px;
        position: unset;
        margin-top: 22px;
        margin-bottom: 18px;
    }
    .mo_inner{margin-left: 0px !important; display: flex; justify-content: center;}
    .mo_inner li{
        display: block;
        text-align:center;
        margin-right: 0px !important;
    }
    .ft_addr>li>span{font-weight: 400 !important; color:#707070 !important;}
    .ft_addr>li{
        
        font-size: 3.4375vw;
        color:#707070 !important;
        width:100%;
        text-align: center;
    }
    .ft_addr>p{font-size: 3.4375vw;}
    .mo_inner li>a{color:#fff; font-weight: 900; font-size: 3.4375vw; border-right: 2px solid #fff; padding: 0px 10px;}
    .mo_inner li:nth-child(4)>a{border-right: 0px; padding: 0px; padding-left: 10px;}
    /* mobile Footer */
}
